body {
  background-color: #f7f7f7;
}

.container {
  padding: 15px 20px;
  background-color: #fff;
  margin-top: 75px;
  margin-bottom: 20px;
}

.container .title h5 {
  border-bottom: 3px solid #ff7c00;
  border-left: 2px solid #e4e4e4;
  border-right: 2px solid #e4e4e4;
  border-top: 2px solid #e4e4e4;
  padding: 13px 10px 10px 15px;
  background-color: #f7f7f7;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  margin-bottom: 20px;
}

.container strong {
  color: #00f;
  font-size: 22px;
}

.container ul {
  padding-left: 40px;
}

@media only screen and (max-width: 1089px) {
  .container {
    margin-top: 120px;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    margin-top: 0;
  }
  .container .row {
    padding-top: 75px;
  }
}